{% extends 'accounts/base.html' %}

{% block title %} ログイン画面 {% endblock %}

{% block content %}
    <div class="items-center justify-center">
        <!-- タイトルを中央ぞろえ -->
        <h1 class="text-2xl font-bold w-3/5 mx-auto text-center mb-2">ログイン</h1>
        <div class="flex flex-col items-center justify-center rounded-lg py-2">
            <form method="post" action="{% url 'accounts:user_login' %}" class="w-3/5 ">{% csrf_token %}
                <div class="mt-7">
                    <label class="font-bold">{{ login_form.email.label }}</label>
                    <div>{{ login_form.email }}</div>
                </div>
                <div class="mt-5">
                    <label class="font-bold">{{ login_form.password.label }}</label>
                    <div>{{ login_form.password }}</div>
                </div>
                <button type="submit" class="w-3/5 flex items-center justify-center w-full bg-blue-500 border-transparent mt-10 py-2 shadow-lg text-white font-bold hover:shadow-none hover:duration-700">ログイン</button>
            </form>
            <div class="flex items-center justify-center my-10 pb-10 w-3/5 border-b border-gray-400">
                <a href="{% url 'accounts:password_reset_request' %}" class="mx-auto text-center border-b border-gray-400">パスワードお忘れの方はこちら</a>
            </div>
            <a href="{% url 'accounts:user_create' %}" class="mx-auto text-center text-blue-500 font-bold bg-white my-5 py-2 w-3/5 outline outline-3 outline-blue-500 shadow-lg hover:shadow-none hover:duration-700">ユーザー登録</a>
        </div>
    </div>
    
{% endblock %}