{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}base{% endblock %}</title>
</head>
<body class="bg-blue-100">
    <header class="bg-blue-200 h-20 flex items-center relative shadow-md">
        <div class="flex items-center justify-center w-full justify-between px-6">
            <svg id="open_button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- トイレGOという文字は必ず画面上部中央に配置する -->
            <a href="{% url 'toilet:home' %}" class="absolute left-1/2 transform -translate-x-1/2 text-lg font-bold"><h1 >トイレGO</h1></a>
            <div class="px-5 ">
                <nav>
                    <ul class="flex space-x-6 ">
                        {% if request.user.is_authenticated %}
                            <!-- <li><a href="#">マイページ</a></li> -->
                            <li><a href="{% url 'accounts:user_info_update' %}">設定</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:user_login' %}">ログイン</a></li>
                            <li><a href="{% url 'accounts:user_create' %}">サインアップ</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="layer" class="bg-black/30 w-full h-full fixed top-0 left-0 z-[-1] opacity-0 invisible duration-300">
        <div class="h-auto w-2/3 md:w-1/3 fixed left-0 top-0 shadow-lg duration-300 bg-blue-200 px-6 pt-6 pb-24">
            <button id="close_button" class="absolute top-4 right-4 px-3 py-1 bg-gray-800 text-white rounded">☓</button>
            <div id="menu" class="relative w-full opacity-0 invisible">
                <ul class="space-y-4 text-lg">
                    <li>ホーム</li>
                    <li>トイレを探す</li>
                    <li>設定</li>
                    <li>ログイン</li>
                    <li>サインアップ</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full max-w-screen-md mx-auto overflow-x-hidden bg-blue-100 p-4 ">
        {% block content %}
        <!-- 子テンプレートで置き換えられる部分 -->
        {% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const open_button = document.getElementById("open_button");
            const layer = document.getElementById("layer");
            const close_button = document.getElementById("close_button");
            const menu = document.getElementById("menu");

            open_button.addEventListener('click', () => {
                open_menu();
            })

            close_button.addEventListener('click', () => {
                close_menu();
            })

            function open_menu(){
                layer.classList.remove('z-[-1]', 'opacity-0', 'invisible');
                layer.classList.add('z-[999]', 'opacity-1', 'visible', 'duration-300');
                menu.classList.remove('opacity-0', 'invisible');
                menu.classList.add('opacity-1', 'visible', 'duration-500');
            }

            function close_menu(){
                layer.classList.remove('z-[999]', 'opacity-1', 'visible');
                layer.classList.add('z-[-1]', 'opacity-0', 'invisible');
                menu.classList.remove('opacity-1', 'visible');
                menu.classList.add('opacity-0', 'invisible');
            }
        })
    </script>
</body>
</html>