{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}base{% endblock %}</title>
</head>
<body class="bg-blue-100">
    <header class="bg-blue-200 h-20 flex items-center relative shadow-md">
        <div class="flex items-center justify-center w-full justify-between px-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- トイレGOという文字は必ず画面上部中央に配置する -->
            <a href="{% url 'toilet:home' %}" class="absolute left-1/2 transform -translate-x-1/2 text-lg font-bold"><h1 >トイレGO</h1></a>
            <div class="px-5 ">
                <nav>
                    <ul class="flex space-x-6 ">
                        {% if request.user.is_authenticated %}
                            <li><a href="#">マイページ</a></li>
                            <li><a href="{% url 'accounts:user_info_update' %}">設定</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:user_login' %}">ログイン</a></li>
                            <li><a href="{% url 'accounts:user_create' %}">サインアップ</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="w-full max-w-screen-md mx-auto overflow-x-hidden bg-blue-100 p-4 ">
        {% block content %}
        <!-- 子テンプレートで置き換えられる部分 -->
        {% endblock %}
    </div>

</body>
</html>