{% extends 'toilet/base.html' %}

{% block title %} トイレGOホーム {% endblock %}

{% block content %}
    <div class="flex items-center justify-center mt-5">
        <h2 class="font-bold text-2xl">トイレGO</h2>
    </div>
    <div class="flex items-center justify-center my-5">
        <p class="text-center font-bold">
            下のボタンから<br>
            駅のきれいなトイレ情報を<br>
            確認しよう！<br>
        </p>
    </div>
    <div class="flex flex-col items-center justify-center space-y-6">
        <a href="{% url 'toilet:search_toilet' %}" class="w-full p-5 rounded rounded-full bg-blue-500/30 text-center text-2xl font-bold">トイレを探す</a>
        <a href="#" class="w-full p-5 rounded rounded-full bg-blue-500/30 text-center text-2xl font-bold">ランキングを見る</a>
        <a href="#" class="w-full p-5 rounded rounded-full bg-blue-500/30 text-center text-2xl font-bold">トイレをレビューする</a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="flex items-center justify-center mt-10">
        <a href="{% url 'accounts:user_logout' %}" class=" border-b border-gray-500">ログアウト</a>
    </div>
    {% endif %}
{% endblock %}