{% extends 'accounts/base.html' %}

{% block title %} トイレを探す {% endblock %}

{% block content %}
    <div>
        <h2>トイレを探す</h2>
    </div>
    <div>
        <form method="post" action="{% url 'toilet:search_toilet' %}">{% csrf_token %}
            <div class="relative">
                <label>{{ search_form.station_name.label }}</label>
                <div>{{ search_form.station_name }}</div>
                <input type="hidden" id="station_id" name="station_id">
                <div id="suggestions" class="w-full max-w-md absolute bg-white border border-gray-300 max-h-40 shadow-lg overflow-y-auto z-50 hidden"></div>
            </div>
            <!-- <div>
                <label>{{ search_form.toilet_name.label }}</label>
                <div>{{ search_form.toilet_name }}</div>
            </div> -->
            <div>
                <button type="submit">探す</button>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            // イベントリスナーを設定
            document.getElementById("station_input").addEventListener("keyup", searchStation);

        });

        async function searchStation() {
            const inputStationName = document.getElementById("station_input").value.trim();
            document.getElementById("suggestions").classList.remove("hidden");


            // 入力がない場合、候補リストをクリアして処理終了
            if (inputStationName === "") {
                updateSuggestions([]);
                document.getElementById("suggestions").classList.add("hidden");
                return;
            }

            try {
                // 駅候補を取得
                const suggestions = await fetchStationSuggestions(inputStationName);
                console.log("suggestions:", suggestions)
                // 候補をリストを作成する
                updateSuggestions(suggestions);
            } catch (error) {
                console.error("駅の候補を取得中にエラーが発生しました:", error);
            }
        }

        // APIリクエスト処理（Djangoから駅候補を取得）
        async function fetchStationSuggestions(query) {
            const response = await fetch(`{% url 'toilet:suggest_station' %}?query=${encodeURIComponent(query)}`);

            console.log(response);
            if (!response.ok) {
                throw new Error(`HTTPエラー: ${response.status}`);
            }

            // 非同期処理を返す（Promise）。データを取得するにはawaitを付ける必要がある。
            const data = await response.json();
            console.log("data.suggestions:", data.suggestions)
            return data.suggestions || []; // suggestionsプロパティがなければ空配列を返す
        }

        // 駅候補のリストを更新する
        function updateSuggestions(suggestions) {
            const suggestionBox = document.getElementById("suggestions");
            suggestionBox.innerHTML = ""; // 一度クリア
            // console.log("suggestions内容:", suggestions);

            suggestions.forEach(station => {
                const div = document.createElement("div");
                div.value = station.id;
                div.textContent = `${station.station_name} (${station.train_line__train_line_name})`;
                div.style.cursor = "pointer";
                div.classList.add("suggestion-item");

                // 候補をクリックしたら入力フィールドに反映
                div.onclick = async function () {
                    document.getElementById("station_input").value = station.station_name;
                    document.getElementById("station_id").value = station.id;
                    suggestionBox.innerHTML = ""; // 候補リストをクリア
                };

                suggestionBox.appendChild(div);
            });
        }

    </script>

{% endblock %}