{% extends 'toilet/base.html' %}

{% block title %} トイレランキング {% endblock %}

{% block content %}
<div class="bg-blue-100 rounded-md p-2 sm:py-5 sm:mt-5">
    <h1 class="pb-2 sm:pb-5 text-center font-bold text-2xl ">トイレランキング</h1>
    <form method="post" action="{% url 'toilet:toilet_rank' %}" class="flex flex-col justify-center ">{% csrf_token %}
        <div class="flex flex-col items-center justify-center space-y-4">
            <div class="w-full flex items-center justify-center space-x-2">
                <label class="">{{ search_line_form.line.label }}</label>
                {{ search_line_form.line }}
            </div>
            <div class="w-full flex items-center justify-center space-x-8">
                {% for obj in search_line_form.gender %}
                {{ obj }}
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="w-full sm:w-2/5 block mx-auto text-center my-4 p-2 w-2/3 border border-gray-400 text-center shadow-md bg-gray-100 hover:shadow-none hover:duration-400">検索</button>
    </form>
</div>
{% if toilets %}
<h2 class="text-2xl text-center p-3 mt-10 border border-gray-500 rounded-full">{{ line.train_line_name }}</h2>
<div id="toilet_obj" data-pk="{{ line.pk }}">
    <section id="toilet_gender" class="w-full flex items-center justify-center my-10" data-gender="{{ gender }}">
        <ul class="flex w-full max-w-3xl justify-center space-x-2">
            <li id="male_btn" class="gen-btn flex-1 p-3 border border-gray-400 text-center shadow-md bg-gray-100 hover:shadow-none hover:duration-400">
                男性
            </li>
            <li id="female_btn" class="gen-btn flex-1 p-3 border border-gray-400 text-center shadow-md bg-gray-100 hover:shadow-none hover:duration-400">
                女性
            </li>
            <li id="multi_btn" class="gen-btn flex-1 p-3 border border-gray-400 text-center shadow-md bg-gray-100 hover:shadow-none hover:duration-400">
                だれでも
            </li>
        </ul>
    </section>
    <section>
        <h2 id="gender_toilet_name" class="flex items-center justify-center max-w-3xl text-2xl font-semibold">男性トイレ</h2>
        <div id="toilet_value" class="flex flex-col items-center justify-center my-8 ">
            <h2 class="text-xl">きれいさ</h2>
            <table class="table-auto border-collapse w-full sm:w-2/3 mx-auto">
                <thead>
                    <tr class="bg-blue-100">
                        <td></td>
                        <td class="w-2/3 text-left">駅名（トイレ場所）</td>
                        <td class="w-1/3 text-center">評価</td>
                    </tr>
                </thead>
                <tbody>
                {% for toilet in toilets.toilet_value.all|slice:":5" %}
                    <tr class="h-full border-b border-gray-300">
                        <td class="w-1/6 bg-blue-100 text-center py-4"><em>{{ forloop.counter }}位</em></td>
                        <td class="w-2/3 bg-blue-100 text-left">{{ toilet.toilet_id }}</td>
                        <td class="w-1/3 bg-blue-100 text-center">{{ toilet.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if toilets.toilet_value.count > 5 %}
                <button id="more_view_value" class="w-full sm:w-2/3 mt-4 px-4 py-2 bg-gray-100 text-black border border-gray-500 shadow-lg">もっと見る</button>
            {% endif %}
        </div>
        <div id="toilet_size" class="flex flex-col items-center justify-center my-8">
            <h2 class="text-xl">広さ</h2>
            <table class="table-auto border-collapse w-full sm:w-2/3 max-w-3xl mx-auto">
                <tbody>
                    {% for toilet in toilets.toilet_size.all|slice:":5" %}
                    <tr class="h-full border-b border-gray-300">
                        <td class="w-1/6 bg-blue-100 text-center py-4"><em>{{ forloop.counter }}位</em></td>
                        <td class="w-2/3 bg-blue-100 text-left">{{ toilet.toilet_id }}</td>
                        <td class="w-1/3 bg-blue-100 text-center">{{ toilet.size }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if toilets.toilet_size.count > 5 %}
                <button id="more_view_size" class="w-full sm:w-2/3 mt-4 px-4 py-2 bg-gray-100 text-black border border-gray-500 shadow-lg">もっと見る</button>
            {% endif %}
        </div>
        <div id="toilet_congestion" class="flex flex-col items-center justify-center my-8">
            <h2 class="text-xl">空き具合</h2>
            <table class="table-auto border-collapse w-full sm:w-2/3 max-w-3xl mx-auto">
                <tbody>
                    {% for toilet in toilets.toilet_congestion.all|slice:":5" %}
                    <tr class="h-full border-b border-gray-300">
                        <td class="w-1/6 bg-blue-100 text-center py-4"><em>{{ forloop.counter }}位</em></td>
                        <td class="w-2/3 bg-blue-100 text-left">{{ toilet.toilet_id }}</td>
                        <td class="w-1/3 bg-blue-100 text-center">{{ toilet.congestion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if toilets.toilet_congestion.count > 5 %}
                <button id="more_view_congestion" class="w-full sm:w-2/3 mt-4 px-4 py-2 bg-gray-100 text-black border border-gray-500 shadow-lg">もっと見る</button>
            {% endif %}
        </div>
    </section>
    
</div>
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        updateBtn();

        // MasterToiletテーブルのpkを取得（のちに各性別のトイレテーブルのtoilet_idで抽出）
        let toiletObj = document.getElementById('toilet_obj');
        let line_pk = toiletObj.dataset.pk;
        console.log(line_pk);

        let valueIsExpanded = false; // 初期状態では「もっと見る」がされていないフラグ
        let sizeIsExpanded = false;
        let congestionIsExpanded = false;

        // ジェンダーボタンが押されたときに各種データを更新する処理
        const btnItem = document.querySelectorAll('.gen-btn');
        btnItem.forEach((item, index) => {
            item.addEventListener('click', async() => {
                console.log(item);
                if (item.id === 'male_btn'){
                    console.log(item.id);
                    gen_num = '1';
                } else if (item.id === 'female_btn'){
                    console.log(item.id);
                    gen_num = '2';
                } else {
                    console.log(item.id);
                    gen_num = '3';
                }
                console.log("gen_num", gen_num);

                try {
                    let toilet_data = await fetchToilet(line_pk, gen_num)
                    console.log("updateToiletInfo前");
                    updateToiletRank(toilet_data);
                } catch (error) {
                    console.error("データ取得エラー:", error);
                }
            });
        });

        // もっと見るボタン(きれいさ)の処理
        const more_view_value = document.getElementById("more_view_value");
        more_view_value.addEventListener("click", async() => {
            let getGenderValue = document.getElementById("toilet_gender").dataset.gender;
            console.log("取得したgetGenderValue: ", getGenderValue);
            let value_flag = 1;
            try {
                toilet_data = await fetchToilet(line_pk, getGenderValue)
                console.log("取得したtoilet_data: ", toilet_data);
                if(!valueIsExpanded){
                    updateRank(toilet_data, value_flag);
                    more_view_value.textContent = "閉じる";
                    valueIsExpanded = true;
                } else {
                    closeView(toilet_data, value_flag);
                    more_view_value.textContent = "もっと見る";
                    valueIsExpanded = false;
                }
            } catch (error) {
                console.log("データ取得エラー:", error);
            }
        })

        // もっと見るボタン(きれいさ)の処理
        const more_view_size = document.getElementById("more_view_size");
        more_view_size.addEventListener("click", async() => {
            let getGenderValue = document.getElementById("toilet_gender").dataset.gender;
            console.log("取得したgetGenderValue: ", getGenderValue);
            let value_flag = 2;
            try {
                toilet_data = await fetchToilet(line_pk, getGenderValue)
                console.log("取得したtoilet_data: ", toilet_data);
                if(!congestionIsExpanded){
                    updateRank(toilet_data, value_flag);
                    more_view_size.textContent = "閉じる";
                    congestionIsExpanded = true;
                } else {
                    closeView(toilet_data, value_flag);
                    more_view_size.textContent = "もっと見る";
                    congestionIsExpanded = false;
                }
            } catch (error) {
                console.log("データ取得エラー:", error);
            }
        })

        // もっと見るボタン(空き具合)の処理
        const more_view_congestion = document.getElementById("more_view_congestion");
        more_view_congestion.addEventListener("click", async() => {
            let getGenderValue = document.getElementById("toilet_gender").dataset.gender;
            console.log("取得したgetGenderValue: ", getGenderValue);
            let value_flag = 3;
            try {
                toilet_data = await fetchToilet(line_pk, getGenderValue)
                console.log("取得したtoilet_data: ", toilet_data);
                if(!sizeIsExpanded){
                    updateRank(toilet_data, value_flag);
                    more_view_congestion.textContent = "閉じる";
                    sizeIsExpanded = true;
                } else {
                    closeView(toilet_data, value_flag);
                    more_view_congestion.textContent = "もっと見る";
                    sizeIsExpanded = false;
                }
            } catch (error) {
                console.log("データ取得エラー:", error);
            }
        })

        // デフォルトで性別ボタンが選択される状態にする処理
        function updateBtn() {

            let toiletInfo = document.getElementById("toilet_gender");
            let gender = toiletInfo.dataset.gender;
            console.log("gender", gender);

            // すべてのボタンのスタイルをリセット
            const btns = document.querySelectorAll(".gen-btn");
            btns.forEach(btn => {
                btn.classList.remove("bg-blue-500", "text-white");
                btn.classList.add("shadow-md", "bg-gray-100");
            });

            const gender_toilet_name = document.getElementById("gender_toilet_name");
            gender_toilet_name.textContent = "";

            // ジェンダーボタンがデフォルトで選択される処理
            let btn;
            if (gender === '1') {
                btn = document.getElementById("male_btn");
                gender_toilet_name.textContent = "男性トイレ"
            } else if (gender === '2') {
                btn = document.getElementById("female_btn");
                gender_toilet_name.textContent = "女性トイレ"
            } else if (gender === '3') {
                btn = document.getElementById("multi_btn");
                gender_toilet_name.textContent = "多機能トイレ"
            }

            btn.classList.remove("shadow-md", "bg-gray-100");
            btn.classList.add("bg-blue-500", "text-white");
        }

        // トイレデータをdjangoから取得する処理
        async function fetchToilet(pk, gender_num) {
            const url = `/toilet/get_toilet_object_rank/${encodeURIComponent(pk)}/${encodeURIComponent(gender_num)}/`;
            console.log("url", url);

            const response = await fetch(url);
            console.log(response);

            if (!response.ok) {
                throw new Error(`HTTPエラー: ${response.status}`);
            }

            const data = await response.json();
            console.log("data", data);
            console.log("data.toilets", data.toilets)

            return{
                toilets: data.toilets,
                gender: data.gender
            } || [];
        }

        // ランキング表の更新処理（全ランキングの表示）
        function updateRank(toilets, flag){
            let data;
            let tbody
            let station;

            if (flag === 1) {
                data = toilets.toilets.toilet_value.value;
                tbody = document.querySelector("#toilet_value table tbody");
                station = toilets.toilets.toilet_value.station
            } else if (flag === 2) {
                data = toilets.toilets.toilet_size.size;
                tbody = document.querySelector("#toilet_size table tbody");
                station = toilets.toilets.toilet_value.station
            } else if (flag === 3) {
                data = toilets.toilets.toilet_congestion.congestion;
                tbody = document.querySelector("#toilet_congestion table tbody");
                station = toilets.toilets.toilet_value.station
            } else {
                throw new Error(`不正なflagの値です: $(flag)`);
            }

            if (!tbody) {
                console.error("エラー:tbodyが見つかりませんでした");
                return;
            }
            tbody.innerHTML = "";

            console.log("data:", data);

            let count = 1;
            // let station = data.station;
            data.forEach(info => {
                console.log("info: ", info);
                if (info.value != null){
                    const tr = document.createElement("tr");
                    tr.classList.add("h-full", "border-b", "border-gray-300");
                    const em = document.createElement("em");

                    const td_1 = document.createElement("td");
                    td_1.classList.add("w-1/6", "bg-blue-100", "text-center", "py-4");
                    const td_2 = document.createElement("td");
                    td_2.classList.add("w-2/3", "bg-blue-100", "text-left");
                    const td_3 = document.createElement("td");
                    td_3.classList.add("w-1/3", "bg-blue-100", "text-center");

                    em.textContent = count+"位";
                    let id = Number(info.id);
                    td_2.textContent = station[id-1];
                    // station = typeof"toilets.toilets.toilet_value.value.id";
                    // console.log("駅名", station[id-1]);
                    td_3.textContent = info.value;

                    td_1.appendChild(em);
                    tr.appendChild(td_1);
                    tr.appendChild(td_2);
                    tr.appendChild(td_3);
                    tbody.appendChild(tr);
                    count++;
                }
            })
        }

        // ランキングの表を第5位までの表示とする処理
        function closeView(toilets, flag){
            let data;
            let tbody
            let station;
            if (flag === 1) {
                data = toilets.toilets.toilet_value.value;
                tbody = document.querySelector("#toilet_value table tbody");
                station = toilets.toilets.toilet_value.station
            } else if (flag === 2) {
                data = toilets.toilets.toilet_size.size;
                tbody = document.querySelector("#toilet_size table tbody");
                station = toilets.toilets.toilet_value.station
            } else if (flag === 3) {
                data = toilets.toilets.toilet_congestion.congestion;
                tbody = document.querySelector("#toilet_congestion table tbody");
                station = toilets.toilets.toilet_value.station
            } else {
                throw new Error(`不正なflagの値です: $(flag)`);
            }

            if (!tbody) {
                console.error("エラー:tbodyが見つかりませんでした");
                return;
            }
            tbody.innerHTML = "";

            let count = 1;

            data.slice(0,5).forEach(info => {
                console.log("info: ", info);
                if (info.value != null){
                    const tr = document.createElement("tr");
                    tr.classList.add("h-full", "border-b", "border-gray-300");
                    const em = document.createElement("em");

                    const td_1 = document.createElement("td");
                    td_1.classList.add("w-1/6", "bg-blue-100", "text-center", "py-4");
                    const td_2 = document.createElement("td");
                    td_2.classList.add("w-2/3", "bg-blue-100", "text-left");
                    const td_3 = document.createElement("td");
                    td_3.classList.add("w-1/3", "bg-blue-100", "text-center");

                    em.textContent = count+"位";
                    let id = Number(info.id);
                    td_2.textContent = station[id-1];
                    // station = typeof"toilets.toilets.toilet_value.value.id";
                    // console.log("駅名", station[id-1]);
                    td_3.textContent = info.value;

                    td_1.appendChild(em);
                    tr.appendChild(td_1);
                    tr.appendChild(td_2);
                    tr.appendChild(td_3);
                    tbody.appendChild(tr);
                    count++;
                }
            })
        }

        // ジェンダーボタンを押されたことによるランキング表の更新処理呼び出し
        function updateToiletRank(toilets){
            console.log("updateToiletRankが実行されました");

            // ジェンダー値の更新
            const toilet_gender = document.getElementById("toilet_gender");
            toilet_gender.setAttribute("data-gender", toilets.gender);
            console.log("更新後のdata-gender:", toilet_gender.dataset.gender);
            updateBtn();

            // きれいさランキングの更新
            closeView(toilets, 1);

            // 広さランキングの更新
            closeView(toilets, 2);

            // 空き具合ランキングの更新
            closeView(toilets, 3);
        }
    });
</script>
{% endblock %}