{% extends 'toilet/base.html' %}

{% block title %} トイレ検索結果 {% endblock %}

{% block content %}
<!-- <h1 class="text-center">{{ toilets.0.station_id.station_name }}駅のトイレ</h1> -->
<div>
    <form method="post" action="{% url 'toilet:toilet_review' toilet.toilet_id.pk toilet.gender.pk %}">{% csrf_token %}
        <div class="flex items-center space-x-4">
            <div class="my-3">
                {{ review_form.value.label }}
                {{ review_form.value }}
            </div>
            <div class="my-3">
                {{ review_form.size.label }}
                {{ review_form.size }}
            </div>
            <div class="my-3">
                {{ review_form.congestion.label }}
                {{ review_form.congestion }}
            </div>
        </div>
        <div class="flex flex-col my-3">
            <label>トイレ場所</label>
            {{ toilet.toilet_id.place }}
        </div>
        <div class>
            {{ review_form.comment.label }}
            {{ review_form.comment }}
        </div>
        <button type="submit" class="w-3/5 block mx-auto text-center bg-blue-500 border-transparent mt-10 py-2 shadow-lg text-white font-bold hover:shadow-none hover:duration-700">レビュー</button>
    </form>
</div>
<script>

</script>
{% endblock %}